<div class="container offset-4" >

    <form [formGroup]="myform" >
      
  
      <div   class="form-group">
        <label for="name">Email Id</label>
        <div class="col-5">
  
        <input type="email" class="form-control" id="email" formControlName="email" name="email" required>
        <span class="text-danger" *ngIf=" myform.controls['email'].touched && myform?.hasError('required','email')">email required</span>
        <span class="text-danger" *ngIf="myform?.hasError('minlength','name')">
          Email must be at least 5 characters long.</span>

        </div>
      </div>
  
      <div class="form-group">
        <label for="name">Aadhar number</label>
        <div class="col col-5">
        <input type="password" class="form-control" id="pwd" formControlName="password" placeholder="Enter your aadhar number
  " name="password" required></div>
        <span class="text-danger" *ngIf="myform?.hasError('maxlength','password')">password should be less than 15 </span>

        <span class="text-danger" *ngIf="myform.controls['password'].dirty && myform.hasError('required','password')">password required</span>

    </div>

  <br> 
  
      <button class="btn btn-success" (click)="onSubmit()">login</button>
    
      
    </form>
    <button class="btn btn-primary offset-4 col-1" onclick="window.location.href='/signup'">signup</button>
  
  </div>
  